html{
  background-color: white;
}
  /* Style the form container */
form {
    width: 300px;
    margin: 0 auto;
  }
  
  /* Style the form labels */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Style the form inputs */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Add hover effect to the submit button */
  input[type="submit"]:hover {
    background-color: black;
  }

  
  


  